build/
packages
pubspec.lock
.idea/
docs/
dartdoc-viewer/
.project
.settings
.buildlog
.pub
out/
*.iml
.c9*
.DS_Store
.Trashes
*.swp
*~.nib
build/
!build/Release/helper
*.pbxuser
*.perspective
*.perspectivev3
*.xcuserstate
project.xcworkspace/
xcuserdata/
